@{
    ViewData["Title"] = "Error";
    ViewBag.Logged = true;
}

<div class="alert alert-danger" role="alert">
    <h3>Access denied.</h3>
    <p>You dont have permission for this page</p>
</div>
<button class="btn btn-primary" id="EndUserSession">End User Session</button>

@section Scripts {
    <script type="text/javascript">   
  $( document ).ready(function() {
      $("#EndUserSession").on("click", function(){
          console.log("Executed");
          $.get("/account/EndUserSession");
      })
  });
</script>
}